﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Annuaire.Models.Personne
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <from asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nom)
                    @Html.ValidationMessageFor(model => model.Nom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prenom, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prenom)
                    @Html.ValidationMessageFor(model => model.Prenom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone)
                    @Html.ValidationMessageFor(model => model.Telephone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Service, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Service)
                    @Html.ValidationMessageFor(model => model.Service)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date_entrer, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date_entrer)
                    @Html.ValidationMessageFor(model => model.Date_entrer)
                </div>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </from>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à l'annuaire'</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}