@model Annuaire.Models.PersonneParService
@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select asp-for="PersonneService" asp-items="Model.Service">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Personnes[0].last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnes[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnes[0].phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnes[0].service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnes[0].first)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Personnes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.last)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.first)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>