@{
    ViewData["Title"] = "Ramdom User";
}

<div class="text-center">
    <table>
        <tr>
            <td><d>Nom</d></td>
            <td><d>Prenom</d></td>
            <td><d>Telephone</d></td>
            <td><d>Service</d></td>
            <td><d>Date arrivé dans l'entreprise'</d></td>
        </tr>

        @foreach (var personnes in Model.results)
        {
    <tr>
        <td>@personnes.name.first</td>
        <td>@personnes.name.last</td>
        <td>@personnes.phone</td>
        <td>@personnes.nat</td>
        <td>@personnes.registered.date</td>
    </tr>
        }
    </table>
</div>